[submodule "luRan_zhangDev"]
	path = luRan_zhangDev
	url = https://github.com/dzhang10/finalfrontier.git
	branch = main
[submodule "raoIva_yeGen_zhangAle"]
	path = raoIva_yeGen_zhangAle
	url = https://github.com/irao12/systems_final
	branch = main
