[submodule "luRan_zhangDev"]
	path = luRan_zhangDev
	url = https://github.com/dzhang10/finalfrontier.git
	branch = main
[submodule "raoIva_yeGen_zhangAle"]
	path = raoIva_yeGen_zhangAle
	url = https://github.com/irao12/systems_final
	branch = main
[submodule "ahmedTah"]
	path = ahmedTah
	url = https://github.com/TahsinAhmed13/StickyFingers.git
	branch = main
[submodule "ganHao"]
	path = ganHao
	url = https://github.com/haotianGan/finalProject
[submodule "chenJac_jiangVin_yeCul"]
	path = chenJac_jiangVin_yeCul
	url = https://github.com/CullenLYe/project02_final.git
	branch = main
[submodule "leeSte_misquittaKri_sahaAbh"]
	path = leeSte_misquittaKri_sahaAbh
	url = https://github.com/kevidgel/cattleship.git
	branch = main
[submodule "huLuc"]
	path = huLuc
	url = https://github.com/lhu10/Battleship.git
	branch = main
[submodule "chanSer_liSun_zhouKel"]
	path = chanSer_liSun_zhouKel
	url = https://github.com/schan11/project02.git
	branch = master
[submodule "nathMic_siuVic_zhangJin"]
	path = nathMic_siuVic_zhangJin
	url = https://github.com/Jinzxc/bashenger.git
	branch = main
[submodule "siniscalcoFra_vostrikovVla_zhengYul"]
	path = siniscalcoFra_vostrikovVla_zhengYul
	url = https://github.com/villinoid/systems_chess.git
	branch = main
[submodule "ku-benjetJer_leeLuc"]
	path = ku-benjetJer_leeLuc
	url = https://github.com/Lucas-Lee11/project02_final.git
	branch = main
